<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
xmlns:xsi="http://java.sun.com/xml/ns/j2ee" 
xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


	<servlet>
		<servlet-name>SettingManagementServlet</servlet-name>
		<servlet-class>nl.amsta09.web.controller.SettingManagementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SettingManagementServlet</servlet-name>
		<url-pattern>/settingmanagement</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>nl.amsta09.web.controller.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/uploadaudio</url-pattern>
		<url-pattern>/uploadphoto</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddThemeServlet</servlet-name>
		<servlet-class>nl.amsta09.web.controller.AddThemeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddThemeServlet</servlet-name>
		<url-pattern>/addtheme</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddSessionToThemeServlet</servlet-name>
		<servlet-class>nl.amsta09.web.controller.AddSessionToThemeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSessionToThemeServlet</servlet-name>
		<url-pattern>/addsessiontotheme</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HomePageServlet</servlet-name>
		<servlet-class>nl.amsta09.web.controller.HomePageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomePageServlet</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ThemeManagementServlet</servlet-name>
		<servlet-class>nl.amsta09.web.controller.ThemeManagementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThemeManagementServlet</servlet-name>
		<url-pattern>/thememanagement</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteThemeServlet</servlet-name>
		<servlet-class>nl.amsta09.web.controller.DeleteThemeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteThemeServlet</servlet-name>
		<url-pattern>/deleteTheme</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SettingManagementServlet</servlet-name>
		<servlet-class>nl.amsta09.web.controller.SettingManagementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SettingManagementServlet</servlet-name>
		<url-pattern>/turnAudioOnOff</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PhotoSelectionServlet</servlet-name>
		<servlet-class>nl.amsta09.web.controller.PhotoSelectionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoSelectionServlet</servlet-name>
		<url-pattern>/photoselection</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AudioSelectionServlet</servlet-name>
		<servlet-class>nl.amsta09.web.controller.AudioSelectionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AudioSelectionServlet</servlet-name>
		<url-pattern>/audioselection</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddMediaToThemeServlet</servlet-name>
		<servlet-class>nl.amsta09.web.controller.AddMediaToThemeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMediaToThemeServlet</servlet-name>
		<url-pattern>/addmediatotheme</url-pattern>
	</servlet-mapping>

	
</web-app>
