#theme_settings{
	background-color: white;
	width: 1700px;
	margin-left: auto;
	margin-right: auto;
}

#add{
	width: 30%;
	float: left;
}

#photos{
	width: 30%;
	float: center;
}

#settings{
	width: 30%;
	float: right;
}